<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959486943216-41cf6jtpnimd6uebddvovhor5eftvhh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959486943216-41cf6jtpnimd6uebddvovhor5eftvhh4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959486943216-mcml2s1vtiq5e73ls53sqvub0oud3jk2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpzZ0eCXxcONEGplKsp4V1zKqEygmiC1I</string>
	<key>GCM_SENDER_ID</key>
	<string>959486943216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.hmccApp</string>
	<key>PROJECT_ID</key>
	<string>hmcc-hk-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hmcc-hk-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959486943216:ios:4bbf32470eb9d031308735</string>
	<key>DATABASE_URL</key>
	<string>https://hmcc-hk-app.firebaseio.com</string>
</dict>
</plist>